@media screen and (max-width: 1440px) {

.container {
	padding-left: 18px;
	padding-right: 18px;
}

.first-button, .header-navigation-item {
	display: none;
}

.header-content {
    justify-content: space-between;
  }

.introduction {
	height: 476px;
}

.introduction-container {
	padding-top: 85px;
	padding-bottom: 61px;
}


.main-title {
	font-size: 23px;
line-height: 132.83%;
margin-bottom: 16px
}


.title-description {
	font-size: 14px;
line-height: 135.84%;
margin-bottom: 32px;
}

.introduction-buttons {
	display: flex;
    flex-direction: column;
    width: 338px;
}

.introduction-button {
	width: 100%;
	margin-bottom: 26px;
}


.completed-projects {
	height: 700px;
}

.completed-projects-container {
	padding-top: 36px;
	padding-bottom: 25px;
}

.subtitle1 {
	font-size: 22px;
	line-height: 138.6%;
	text-align: center;
	margin-bottom: 22px;
}


.completed-projects-description-paragraph {
	font-size: 11px;
line-height: 158.48%;
text-align: center;
margin-bottom: 36px;
}

.project-list {
	display: none;
}

.online-control {
	height: 850px;
}

.online-control-container {
	padding-top: 25px;
	padding-bottom: 62px
}


.subtitle3 {
	font-size: 22px;
line-height: 138.6%;
text-align: center;
margin-bottom: 19px;

}


.online-control-description {
	font-size: 11px;
line-height: 169.8%;
text-align: center;

}


.types-of-repair {
	height: 2030px;
}

.types-of-repair-main {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle4 /*TYPES OF REPAIR*/ {
font-size: 22px;
line-height: 138.6%;
text-align: center;
margin-bottom: 17px;
}

.advantages-and-form {
	display: none;
}

.types-of-repair-icon {
	margin-bottom: 17px;
}


.our-clients {
	display: none;
}


.fantasies {
	background-image: none;
	background-color: white;
}

.fantasies::before {
	background-color: white;
}

.fantasies-title {
	font-size: 22px;
line-height: 138.6%;
text-align: center;
}

.fantasies-list, .fantasies-room-left, .fantasies-room-right {
	display: none;
}

.fantasy-room1-mobile {

}

} 