@media screen and (max-width: 1440px) {

    .container {
        padding-left: 18px;
        padding-right: 18px;
    }

    .first-button,
    .header-navigation-item {
        display: none;
    }

    .header {
    margin: 0;
    position: static;
  }

  .header-content {
    height: 57px;
    justify-content: space-between;



  }

  .header-navigation-item, .first-button {
    display: none;
  }

  .introduction {
    height: 476px;
    background-image: url('./images/mobile-background.JPG');
   
}


  .introduction-container {
    display: flex;
    align-items: flex-start;
    margin-left: 0;
    margin-top: 0;
    padding-top: 85px;
    padding-bottom: 61px;

    
    
  }

  .main-title {
    font-size: 23px;
    line-height: 132.83%;
    margin-bottom: 16px;
    margin-top: 0;
    
  }

.title-description {
    font-size: 14px;
    line-height: 135.84%;
    margin-bottom: 32px;
}

.introduction-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-button {
    width: 338px;
    margin-right: 0;
}

.logo {
    margin-right: 0;

}


.header-navigation-item-phone {
margin-right: 0;
text-align: right;
}

}
