@font-face {
	src: url('./fonts/NunitoSans-Regular.ttf');
	font-family: "NunitoSans-Regular";
}

@font-face {
	src: url('./fonts/YesevaOne-Regular.ttf');
	font-family: "YesevaOne-Regular";
}

@font-face {
	src: url('./fonts/NunitoSans-Italic.ttf');
	font-family: "NunitoSans-Italic";
}


body {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: "NunitoSans-Regular", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}


a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: #E3B873;
}


img {
	max-width: 100%;
	height: auto;
}


.container {
	max-width: 1256px;
	margin: 0 auto;
}

.logo {
	color: #E3B873;
	margin-right: 95px;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;

}

header {
	position: sticky;
	top: 0;
	z-index: 9999999;
}

.header {
	background-color: #131313;
	
	
}

.header-content {
	height: 83px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.header-navigation {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.header-navigation-item, .header-navigation-item-phone {
	margin-right: 47px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 15px;
}


.button {
	background: transparent;
	box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
	border: 1px solid white;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	outline: 0;
	padding: 13px 33px;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
	font-family: "NunitoSans-Italic", Ariel;
	font-style: italic;
	font-weight: normal;

}

.button:hover {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border-color: blue;
	
}

.first-button {
	font-size: 11px;
	line-height: 15px;
}



.title {
	font-family: 'YesevaOne-Regular', 'Times New Roman', serif; 
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}






.introduction {
	background-image: url('./images/image1.png');
	height: 707px;
	background-size: cover; 
	position: relative;

}


.introduction-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
	margin-left: 134px;
	
}

.introduction-overlay {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0 , 0, .7);
}

.main-title {
	display: block;
	margin-top: 194px;
	margin-bottom: 19px; 
	font-size: 40px;
	line-height: 53px;
	color: #FFFFFF;
	
}

.main-title-colored {
	color: #E3B873;
}

.title-description {
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 41px;
}


.introduction-buttons {
	display: flex;
	justify-content: flex-start;
	
}


.introduction-button {
	margin-right: 20px;
	font-size: 11px;
	line-height: 15px;
	margin-bottom: 26px;

}


h2 {
	display: block;

}





.completed-projects {
	background-color: #131313;
	background-size: cover; 
	position: relative;

	/*height: 1074px;*/
	
}

.completed-projects-container {
	display: flex;
	align-items: center: 
	padding-left: 134px;
	padding-top: 107px;
	padding-bottom: 416px;

	
	
}

.subtitle1 {
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	color: #E3B873;
	margin-bottom: 34px;
}

.completed-projects-description {
	display: flex;
	margin-right: 50px;
	flex-direction: column;
	align-items: flex-start;
}


.completed-projects-description-paragraph {
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 42px;
}

.mobile-slider {
	display: none;
}

.project-parameters {
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	margin-bottom: 34px;
}


.project-elements {
	display: flex;
	margin-bottom: 34px;
}

.subtitle2 {
	font-size: 18px;
	line-height: 25px;
	color: #E3B873;
	margin-bottom: 9px;
}


.project-elements1 {
	display: flex;
	flex-direction: column;
	margin-right: 29px;
}

.project-elements2 {
	display: flex;
	flex-direction: column;
}


.slider {
	display: flex;

}

.slider-item {
	margin-right: 29px;
}

.slider-item-circle {
	width: 10px;
	height: 10px;
	margin-right: 17px;
	cursor: pointer;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
}

.slider-item-circle:hover {
	background:#ffffff;
}


.completed-projects-list-and-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.project-list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 45px;
	
}


.projects-item {
	font-family: "YesevaOne-Regular", Times New Roman, serif;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	margin-right: 60px;
	color: rgba(255, 255, 255, 0.3);
}

.completed-projects-image{
	width: 679px;
	height: 482px;

}






.online-control {
	position: relative;
	padding-bottom: 100px;

	

}

.online-control-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 1010px;
	margin-top: -320px;
	padding-bottom: 50px;
	

}


.subtitle3 {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;

}

.online-control-icon {
	text-align: center;
	position: relative;

}

.online-control-icon::before {
	content: ' ';
	background: #E3B873;
	width: 32px;
	height: 1.54px;
	position: absolute;
	left: 120%;
	top: 50%;
}


.online-control-icon::after {
	content: ' ';
	background: #E3B873;
	width: 32px;
	height: 1.54px;
	position: absolute;
	right: 120%;
	top: 50%;
}


.screen {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 31.21px;
	width: 817px;
	height: 434px;
}

.screen::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgb(0, 0, 0, 0.8);
}


.online-control-photo {
	background-color: rgba(0,0,0,.8);
	position: relative;

}


.play-icon {
	position: absolute;
	left: 40%;
	right: 40%;
	top: 40%;
	bottom: 40%;
	cursor: pointer;
	z-index: 2;
}


.line {
	margin-top: 62px;
}

.online-control-description {
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	margin-top: 35px;
}

.first-form {
	display: flex;
	max-width: 768px;
	height: 51px;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-top: 93px;

}


.form-label {
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
}


.input1{
	width: 231px;
	border: 0;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	margin-right: 50px;
	font-size: 14px;
	line-height: 23px;
	color: #363636;
}


.first-form-button {
	width: 200px;
	height: 51px;
	background: #E3B873;
}


.first-checkbox {
	margin-top: 40px;
	
}


.checkbox-text {
	font-size: 14px;
	line-height: 23px;
	color: #181818; /*Почему этот стиль не применяется?*/

}

.checkbox-group {

}

.checkbox-text::before {
	content: '';
	display: inline-block;
	background: #E3B873;
	color: white;
	width: 18px;
	height: 18px;
	margin-right: 10px;
	vertical-align: middle;
	background-position: center center; 
}

.checkbox:checked ~ .checkbox-text::before {
	background-image: url("./images/checkbox-checked.png");
	background-repeat: no-repeat;

}

.checkbox {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	height: 1px;
}

.first-form-button-mobile {
	display: none;

}


