@font-face {
	src: url('./fonts/NunitoSans-Regular.ttf');
	font-family: "NunitoSans-Regular";
}

@font-face {
	src: url('./fonts/YesevaOne-Regular.ttf');
	font-family: "YesevaOne-Regular";
}

@font-face {
	src: url('./fonts/NunitoSans-Italic.ttf');
	font-family: "NunitoSans-Italic";
}


body {
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: "NunitoSans-Regular", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}


a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: #E3B873;
}


img {
	max-width: 100%;
	height: auto;
}


.container {
	max-width: 1256px;
	margin: 0 auto;
}

.logo {
	color: #E3B873;
	margin-right: 95px;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;

}

header {
	position: sticky;
	top: 0;
	z-index: 9999999;
}

.header {
	background-color: #131313;
	
	
}

.header-content {
	height: 83px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.header-navigation {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.header-navigation-item, .header-navigation-item-phone {
	margin-right: 47px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 15px;
}


.button {
	background: transparent;
	box-shadow: 0px 5px 15px rgb(227 184 115 / 20%);
	border: 1px solid white;
	border-radius: 2px;
	color: white;
	cursor: pointer;
	outline: 0;
	padding: 13px 33px;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
	font-family: "NunitoSans-Italic", Ariel;
	font-style: italic;
	font-weight: normal;

}

.button:hover {
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border-color: blue;
	
}

.first-button {
	font-size: 11px;
	line-height: 15px;
}



.title {
	font-family: 'YesevaOne-Regular', 'Times New Roman', serif; 
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
}


.completed-projects {
	background-color: #131313;
	background-size: cover; 
	position: relative;

	/*height: 1074px;*/
	
}

.completed-projects-container {
	display: flex;
	align-items: center: 
	padding-left: 134px;
	padding-top: 107px;
	padding-bottom: 416px;

	
	
}

.subtitle1 {
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	color: #E3B873;
	margin-bottom: 34px;
}

.completed-projects-description {
	display: flex;
	margin-right: 50px;
	flex-direction: column;
	align-items: flex-start;
}


.completed-projects-description-paragraph {
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	margin-bottom: 42px;
}

.mobile-slider {
	display: none;
}

.project-parameters {
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
	margin-bottom: 34px;
}


.project-elements {
	display: flex;
	margin-bottom: 34px;
}

.subtitle2 {
	font-size: 18px;
	line-height: 25px;
	color: #E3B873;
	margin-bottom: 9px;
}


.project-elements1 {
	display: flex;
	flex-direction: column;
	margin-right: 29px;
}

.project-elements2 {
	display: flex;
	flex-direction: column;
}


.slider {
	display: flex;

}

.slider-item {
	margin-right: 29px;
}


.completed-projects-list-and-photo {
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.project-list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 45px;
	
}


.projects-item {
	font-family: "YesevaOne-Regular", Times New Roman, serif;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	margin-right: 60px;
	color: rgba(255, 255, 255, 0.3);
}

.completed-projects-image{
	width: 679px;
	height: 482px;

}

