@font-face {
	src: url('./fonts/NunitoSans-Regular.ttf');
	font-family: "NunitoSans-Regular";
}

body {
	margin: 0;
	font-family: "NunitoSans-Regular", Ariel, sans-serif; 
}

body * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: #E3B873;
}



.container {
	max-width: 1440px; 
	margin: 0 auto;
	width: 100%;
}

.logo {
	color: #E3B873;

}

header {
	position: sticky;
	top: 0;
	z-index: 9999999;
}

.header {
	background-color: #131313;

	
}

.header-content {
	display: flex;
	justify-content: space-between;
	height: 83px;
	align-items: center;
}

.header-navigation {
	list-style: none;
	display: flex;
}

.header-navigation-item {
	margin-right: 47px;
	text-decoration: none;
	color: #FFFFFF;
}


.button {
	background: transparent;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	outline: 0;
	border: 1px solid white;
	cursor: pointer;
	padding: 13px 33px;
	color: white;
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 11px;
	margin-left: 45px;

}

.button:hover {
	background: #e3b873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	border: 0;

}




.types-of-repair {
	display: 
	justify-content: space-between;
}

.introduction {
	background-image: url('./images/image1.png');
	background-size: cover; 
	height: 707px;
	padding-top: 194px;
	position: relative;
	padding-bottom: 0;  
}

.introduction::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0 , 0, .7);
}

.title {
	display: block;
	margin: 0;
	font-family: Yeseva One, 'Times New Roman', serif; 
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	width:676px;
	height: 105px;
	color: #FFFFFF;
	margin-bottom: 19px;

}


.title-description {
	width: 504px;
	height: 89px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 41px;
}


.introduction-container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 1; 
}


.title1 {
	display: flex;
	width: 676px;
	height: 105px; 
	margin-top: 194px;
	margin-left: 134px;
	margin-bottom: 408px;
	margin-right: 627px; 
}

.description {
	display: flex; 
	width: 504px;
	height: 89px;
	text-align: left;


	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
}


.input {

}

h2 {
	display: block;

}


.completed-projects {
	background-color: #131313;
	background-size: cover; 
	height: 1074px;
	padding-bottom: 90px;
	position: relative; 
}

.completed-projects-container {
	display: flex;
	width: 100%;
	height: 1074px;
	align-items: center;
	margin-top: 107px;
	margin-left: 134px
	margin-right 134px;
}


.project-list {
	display: flex;
	list-style: none;
	flex-direction: row; 
	justify-content: space-between;
	align-items: flex-end;
	padding-right: 160px;
}


.projects-item {
	font-family: Yeseva One, Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	margin-right: 60px;
	color: rgba(255, 255, 255, 0.3);
}

.subtitle1 {
	margin: 0;
	font-family: Yeseva One, Times New Roman, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
}

.completed-project-Rostov-admiral {
	display: flex;
	flex-wrap: wrap;
	width: 450px;
	justify-content: center;
	align-items: center;
}


.subtitle2 {
	margin: 0;
	font-family: Yeseva One, Times New Roman, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}

.project-parameters {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
}

.completed-projects-description-paragraph {
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
	width: 442px;
	height: 86px;
}

.completed-project-Rostov-admiral {
	display: flex;
	flex-wrap: wrap;
	width: 370px;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.project-elements {
	margin-bottom: 34px;
}

.completed-projects-image{
	width: 679px;
	height: 482px;
	margin-top: 52px;
}


.online-control {
	height: 537px;
	padding-top:;
	margin-top: ;
}

.online-control-container {
	display: block;
	position: relative;

}


.online-control-image {
	text-align: center;
	position: relative;
}

.online-control-image::before {
	content: ' ';
	background: #E3B873;
	width: 32px;
	height: 1.54px;
	position: absolute;
	left: 100%;
	right: 51.6%;
	top: 21.23%;
	bottom: 78.75%;

}


.online-control-image::after {
	content: ' ';
	background: #E3B873;
	width: 32px;
	height: 1.54px;
	position: absolute;
	left: 51.88%;
	right: 45.9%;
	top: 21.23%;
	bottom: 78.75%;

}


.online-control-photo {
	background: rgba(0, 0, 0, 0.8);
}


.online-control-description {
	width: 681px;
	height: 131px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
}


/*.form {
	width: 
	height:
	background: black;
	position: relative;
}

@media screen and (max-width: 1440px) {
.header-navigation-items {
	display: none;
}
}


